$red: #ca0b00;
$green: #4cbb17;
$victory-green: #006847;
$yellow: #f0d500;
$yellow-orange: #ffae42;
$blue-gray: #666699;
$white-gray: #f3f3f3;
$light-gray: #d3d3d3;
$subtle: #525252;
$almost-black: #16161d;

body {
  margin: 0;
  background-color: $blue-gray;
  color: $white-gray;
  font-family: Ubuntu;
}

button {
  border: 0.125rem solid $almost-black;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  min-width: 5.5rem;
  padding: 0.5rem;

  &:hover {
    background-color: $yellow-orange;
  }

  &:focus {
    background-color: $green;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;

  h1 {
    margin: 1rem 0;
    font-size: 4rem;
    text-align: center;
    text-shadow:
      -0.0625rem -0.0625rem 0 $almost-black,
      0.0625rem -0.0625rem 0 $almost-black,
      -0.0625rem 0.0625rem 0 $almost-black,
      0.0625rem 0.0625rem 0 $almost-black;
  }

  p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .battle {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ai-choice {
      background-color: $light-gray;
      width: 7.8125rem;
      height: 7.8125rem;
      text-align: center;
      line-height: 7.8125rem;
      border-radius: 1rem;
      box-shadow: 0.125rem 0.125rem 1rem 0 rgba(0, 0, 0, 0.25);

      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center center;

      &.rock {
        background-image: url("../../public/rock.png");
      }
      &.paper {
        background-image: url("../../public/paper.png");
      }
      &.scissors {
        background-image: url("../../public/scissors.png");
      }
    }

    h3 {
      display: flex;
      align-items: center;
      font-style: italic;
    }

    .ai-choice-descr {
      text-transform: capitalize;
    }
  }

  .options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;

    .option {
      background-color: $light-gray;
      width: 5.3125rem;
      height: 5.3125rem;
      text-align: center;
      line-height: 5.3125rem;
      border-radius: 1rem;
      box-shadow: 0.125rem 0.125rem 1rem 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
      }

      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center center;

      padding: 1.25rem;

      &.selected {
        border: 0.1875rem solid $almost-black;
        pointer-events: none;

        &.winner {
          background-color: $victory-green;
        }
        &.loser {
          background-color: $red;
        }
        &.draw {
          background-color: $yellow;
        }
      }
      &.disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .choice-wrapper {
      p {
        text-align: center;
      }
    }
  }
}

.hide {
  display: none;
}
